@model App.Models.DatabaseModels.Vehicule

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Etes-vous sur de vouloir supprimer le vehicule?</h3>
<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
