@model IEnumerable<App.Models.DatabaseModels.Race>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des Courses</h1>

<p>
	<a asp-action="Create">Crée une Nouvelle Course</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Lattitude)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Longitude)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MaxParticipants)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MinAge)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AllowedCategories)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Lattitude)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Longitude)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EventDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Image)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MaxParticipants)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MinAge)
				</td>
				<td>
					@foreach (var category in item.AllowedCategories)
					{
						@Html.DisplayFor(model => category.Name)
						<br />
					}
				</td>
				<td>
					|<a asp-action="Edit" asp-route-id="@item.Id">Editer</a>|
					<br>
					|<a asp-action="Details" asp-route-id="@item.Id">Détails</a>| 
				</td>
			</tr>
		}
	</tbody>
</table>
